save_DB.json
[{"id":"292a2940.a7c846","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2c0128b.549d6d8","type":"mqtt in","z":"292a2940.a7c846","name":"Sensor","topic":"sensor/room","qos":"0","datatype":"auto","broker":"93cda945.c2d1f8","x":290,"y":240,"wires":[["25990abc.d0ca76"]]},{"id":"82ceb218.5ad2a","type":"function","z":"292a2940.a7c846","name":"input SQL","func":"var temp = msg.payload.temp;\nvar hum = msg.payload.hum;\n\nmsg.topic = \"INSERT INTO room (temp , hum ) VALUES (\" + temp + \" , \" + hum + \" )\";\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["f996c6d6.5338b8"]]},{"id":"f996c6d6.5338b8","type":"mysql","z":"292a2940.a7c846","mydb":"72927c9a.6c8b44","name":"SQL DB","x":820,"y":240,"wires":[["72c93213.b02d4c"]]},{"id":"72c93213.b02d4c","type":"debug","z":"292a2940.a7c846","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":240,"wires":[]},{"id":"25990abc.d0ca76","type":"json","z":"292a2940.a7c846","name":"Convert to JSON","property":"payload","action":"","pretty":false,"x":470,"y":240,"wires":[["82ceb218.5ad2a","517a1de3.a3e1e4"]]},{"id":"517a1de3.a3e1e4","type":"debug","z":"292a2940.a7c846","name":"to JSON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":320,"wires":[]},{"id":"93cda945.c2d1f8","type":"mqtt-broker","z":"","name":"my MQTT","broker":"192.168.251.57","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"72927c9a.6c8b44","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sensor","tz":""}]
